@model  EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h2>Profilinizi Düzenleyin</h2>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label hidden for="exampleInputName1">Yazar ID</label>
                    <input hidden type="text" name="WriterID" value="@Model.WriterID" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Adı</label>
                    <input type="text" name="WriterName" value="@Model.WriterName" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Soyadı</label>
                    <input type="text" name="WriterSurname" value="@Model.WriterSurname" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Görsel Url'si'</label>
                    <input type="text" name="WriterImage" value="@Model.WriterImage" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Şifresi</label>
                    <input type="text" name="WriterPassword" value="@Model.WriterPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Maili</label>
                    <input type="text" name="WriterMail" value="@Model.WriterMail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Başlığı</label>
                    <input type="text" name="WriterTitle" value="@Model.WriterTitle" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Yazar Hakkında</label>
                    <input type="text" name="WriterAbout" value="@Model.WriterAbout" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <button type="reset" class="btn btn-outline-dark">İptal</button>
            </form>
        </div>
    </div>
</div>
<br />
<br />
<br />
 
<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>