@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Veri Listesi</h2>
<table class="table table-hover">
    <tr>
        <th hidden>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Hakkımda Görsel</th>
        <th>Durum</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td hidden>@item.AboutID</td>
            <td>@item.AboutTitle</td>
            <td><img src="@item.AboutImage" style="height:80px; width: 130px"/></td>
            <td>
                @{
                    string renk;
                    if (item.AboutStatus == true)
                    {
                        renk = "text-success";
                        <p class="@renk">Aktif</p>

                    }
                    else
                    {
                        renk = "text-danger";
                        <p class="@renk">Pasif</p>
                    }
                }
            </td>
            <td><a href="/About/ActiveAbout/@item.AboutID" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="/About/PassiveAbout/@item.AboutID" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>

@Html.Action("AboutPartial","About")

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
